<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>水平居中_绝对定位_left:50%</title>
    <style>
        .box{
            width:400px;
            height:200px;
            position: relative;
            /*position:absolute;*/
        }
        .son{
            position: absolute;
            width:200px;
            left:50%;
            margin-left:-100px;
        }
    </style>
</head>
<body>
<section class="box" style="border:1px solid #f00">
    <p class="son" style="border:1px solid #f00">adasdas</p>
</section>
</body>
</html>