<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>垂直居中_绝对定位_top:50%</title>
    <style>
        .box{
            width:400px;
            height:200px;

            position: absolute;
            /*position: relative;*/
        }
        .son{
            position: absolute;
            top:50%;
            height:100px;
            margin-top:-50px;
        }
    </style>
</head>
<body>
<section class="box" style="border:1px solid #f00">
    <p class="son" style="border:1px solid #f00">adasdas</p>
</section>
</body>
</html>