<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>垂直居中_pseudo</title>
    <style>
        .box{
            width:400px;
            height:200px;
        }
        .box::after, .son{
            display:inline-block;
            vertical-align:middle;
        }
        .box::after{
            content:'';
            height:100%;
        }
    </style>
</head>
<body>
<section class="box" style="border:1px solid #f00">
    <p class="son" style="border:1px solid #f00">adasdas</p>
</section>
</body>
</html>